vivado.jou
vivado.log
*.backup.jou
*.backup.log
vivado_pid*.str

vivado_hls.log

NA/
.Xil/
.vscode/

DRAMEmulation/Bank_HLS/Bank_HLS/
DRAMEmulation/Bank_HLS/StreamBank_HLS/
DRAMEmulation/Bank_HLS/ARM_Bank_HLS/
DRAMEmulation/Bank_HLS/Bank_HLS_AU280/

DRAMEmulation/Bank_Hardware_Design/Bank_Hardware/
DRAMEmulation/Bank_Hardware_Design/UZ_BankSHT/
DRAMEmulation/Bank_Hardware_Design/UZ_BankStreamHT/
DRAMEmulation/Bank_Hardware_Design/UZEG_*

PiMulator.code-workspace

MBBench/McrBlzHBMLnx/
MBBench/MicBlz300DDR4/
MBBench/MicBlzDDR/
MBBench/MicBlzDDR3/
MBBench/MicBlzDDR4HBM2/
MBBench/MicBlzDDR4Lnx/
MBBench/MicBlzHBM/
MBBench/UZEGZynqDDR/

DRAMEmulation/LPDDRSTM/.apc/
DRAMEmulation/LPDDRSTM/.cproject
DRAMEmulation/LPDDRSTM/.project
DRAMEmulation/LPDDRSTM/.settings/
DRAMEmulation/LPDDRSTM/.vivado_hls_log_all.xml
DRAMEmulation/LPDDRSTM/solution1/
DRAMEmulation/LPDDRSTM/vivado_hls.app