vivado.jou
vivado.log
*.backup.jou
*.backup.log
vivado_pid*.str

vivado_hls.log

NA/
.Xil/

DRAMEmulation/Bank_HLS/Bank_HLS/
DRAMEmulation/Bank_HLS/StreamBank_HLS/
DRAMEmulation/Bank_Hardware_Design/Bank_Hardware/
DRAMEmulation/Bank_Hardware_Design/UZ_BankSHT/
DRAMEmulation/Bank_Hardware_Design/UZ_BankStreamHT/
DRAMEmulation/Bank_Hardware_Design/UZEG_*

PiMulator.code-workspace