*.jou
*.log
*.str
*.png

NA/
.Xil/
.vscode/

build/
CMakeLists.txt
CMakeLists.txt.cpp

PiMulator/ip_repo/

PiMulator/Bank_HLS/Bank_HLS/
PiMulator/Bank_HLS/StreamBank_HLS/
PiMulator/Bank_HLS/ARM_Bank_HLS/
PiMulator/Bank_HLS/Bank_HLS_AU280/

PiMulator/Bank_Hardware_Design/Bank_Hardware/
PiMulator/Bank_Hardware_Design/AU280_Bank_HW/
PiMulator/Bank_Hardware_Design/UZ_BankSHT/
PiMulator/Bank_Hardware_Design/UZ_BankStreamHT/
PiMulator/Bank_Hardware_Design/UZEG_*

PiMulator.code-workspace

MBBench/McrBlzHBMLnx/
MBBench/MicBlz300DDR4/
MBBench/MicBlzDDR/
MBBench/MicBlzDDR3/
MBBench/MicBlzDDR4HBM2/
MBBench/MicBlzDDR4Lnx/
MBBench/MicBlzHBM/
MBBench/UZEGZynqDDR/
MBBench/MicBlzDDR4StE3Lnx/

PiMulator/SysVerilog_Model/vscratch/
PiMulator/SysVerilog_Model/vsim/
PiMulator/SysVerilog_Model/scratch/

PiMulator/SysVerilog_Model/alt/eclk.fzm
PiMulator/SysVerilog_Model/alt/eclk.v
