[submodule "ariane"]
	path = ariane
	url = https://github.com/hplp/ariane
[submodule "hopscotch"]
	path = hopscotch
	url = https://github.com/alifahmed/hopscotch
[submodule "MEMulator"]
	path = MEMulator
	url = git@github.com:hplp/MEMulator.git
